/*
* @Author: ronnie
* @Date:   2017-06-02
* @Last Modified by:   ronnie
* @Last Modified time:
*/

/*bootstrap扩展*/
.btn-buy {
    color: #fff;
    background-color: #f9d600;
    border:none;
    border-radius: 0;
    width:140px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 20px;
}
.btn-buy:focus,
.btn-buy.focus {
    color: #fff;
    background-color: #f3c400;
    border-color: #f3c400;
}
.btn-buy:hover {
    color: #fff;
    background-color: #f3c400;
    border-color: #f3c400;
}
.btn-buy:active,
.btn-buy.active,
.open > .dropdown-toggle.btn-buy {
    color: #fff;
    background-color: #f3c400;
    border-color: #f3c400;
}
.btn-buy:active:hover,
.btn-buy.active:hover,
.open > .dropdown-toggle.btn-buy:hover,
.btn-buy:active:focus,
.btn-buy.active:focus,
.open > .dropdown-toggle.btn-buy:focus,
.btn-buy:active.focus,
.btn-buy.active.focus,
.open > .dropdown-toggle.btn-buy.focus {
    color: #fff;
    background-color: #f3c400;
    border-color: #f3c400;
}
.btn-buy:active,
.btn-buy.active,
.open > .dropdown-toggle.btn-buy {
    background-image: none;
}
.btn-buy.disabled:hover,
.btn-buy[disabled]:hover,
fieldset[disabled] .btn-buy:hover,
.btn-buy.disabled:focus,
.btn-buy[disabled]:focus,
fieldset[disabled] .btn-buy:focus,
.btn-buy.disabled.focus,
.btn-buy[disabled].focus,
fieldset[disabled] .btn-buy.focus {
    background-color: #fff;
    border-color: #ccc;
}
.btn-buy .badge {
    color: #fff;
    background-color: #333;
}

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding: 0 12px;
}
.col-xs-1-5 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}
/**
* 轮播图区域
*/
.carousel-inner .item img.imgSm {
    display: none;
}
@media screen and (max-width: 415px){
    .carousel-inner .item img.imgSm {
        display: block;
    }
    .carousel-inner .item img.imgBg {
        display: none;
    }
}
/*.carousel-inner {*/
/*height: 460px;*/
/*}*/
/*.carousel-inner > div {*/
/*height: 460px;*/
/*background: url(../img/carousel-img.png) no-repeat center center;*/
/*-moz-background-size: cover;*/
/*-webkit-background-size: cover;*/
/*background-size: cover;*/
/*}*/
/*.carousel-inner > div > a{*/
/*display: block;*/
/*height: 100%;*/
/*width: 100%;*/
/*}*/
/*@media screen and (max-width: 992px){*/
/*.carousel-inner > div {*/
/*height: 350px;*/
/*background: url(../img/carousel-img.png) no-repeat center center;*/
/*-moz-background-size: cover;*/
/*-webkit-background-size: cover;*/
/*background-size: cover;*/
/*}*/
/*}*/
/*@media screen and (max-width: 767px){*/
/*.carousel-inner > div {*/
/*height: 220px;*/
/*background: url(../img/carousel-img.png) no-repeat center center;*/
/*-moz-background-size: cover;*/
/*-webkit-background-size: cover;*/
/*background-size: cover;*/
/*}*/
/*}*/

/**
* classify区域
*/
#service_classify {
    padding-top: 45px;
    padding-bottom: 25px;
    background: #f6f6f6;
}
.classify-title > h2 {
    font-size: 20px;
    color:#2f333e;
    /*font-weight: bolder;*/
}
.classify-content{
    padding-top: 35px;
}
.classify-content .row > div{
    /*max-width: 220px;*/
    padding-top: 20px;
    padding-bottom: 20px;
}
.classify-content .row > div .one-content{
    background: #fff;
}
.classify-content .row > div .one-content > img{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}
.classify-content .row > div .one-content > h4{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: normal;
}
.classify-content .row > div .one-content > p{
    font-size: 16px;
    color: #999999;
    margin-bottom: 30px;
}
@media screen and (max-width: 767px){
    #service_classify {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #service_classify .classify-title h3{
        margin: 0;
    }
    .classify-content {
        padding-top: 10px;
    }
    .classify-content .row > div {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
/**
* introduce区域
*/
#service_introduce{
    background: #f6f6f6;
    padding-bottom: 65px;
}
.introduce-title > h2{
    font-size: 20px;
    color:#2f333e;
}
.introduce-content{
    padding-top: 50px;
}
.introduce-content > .introduce-article {
    background: #fff;
    padding: 80px 20px;
}
.introduce-content > .introduce-article >p{
    text-align: center;
    font-size: 16px;
    line-height: 29px;
    color:#666666;
}
.fb-tw-plug {
    padding-top: 30px;
}
.fb-tw-plug .row > div > div{
    background: #fff;
    padding-top: 20px;
}
.fb-tw-plug .row > div > div.twitter{
    padding-top: 15px;
}
@media screen and (max-width: 992px){
    .fb-tw-plug .col-md-6{
       padding-bottom: 20px;
    }
}
@media screen and (max-width: 767px){
    #service_introduce {
        padding-bottom: 10px;
    }
    .introduce-title h3{
        margin-top: 0;
    }
    .introduce-content {
        padding-top: 10px;
    }
}
/**
* tab选项卡区域
*/
#compare_tabs {
    background: #f6f6f6;
    padding-bottom: 20px;
}
.tabs-title {
    text-align: center;
}
.tabs-title > ul{
    display: inline-block;
    border-bottom: none;
}
.tabs-title > ul li a{
    font-size: 20px;
    color: #2f333e;
}
.tabs-title > ul li a h2{
    font-size: 20px;
    color: #2f333e;
    margin: 0;
}
/*.tabs-title > ul li a h2:hover{*/
    /*color: #f9d600;*/
/*}*/
.tabs-title > ul li > a{
    margin-right: 0;
}
.tabs-title > ul li:nth-of-type(2):before{
    content: '|';
    float: left;
    color:#d9d9d9;
    line-height: 42px;
    display: inline-block;
    font-size: 20px;
}
.tabs-title > ul li:nth-of-type(2) > a{
    padding-left: 17px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color:transparent;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li > a, .nav-tabs > li.active > a:focus{
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom-color: transparent;
    color: #f9d600;
}
.nav-tabs > li.active > a h2{
    color: #f9d600;
}
.tab-content {
    padding-top: 65px;
}
.tab-pane .row .col-md-6 > a {
    float: left;
}
.tab-pane .row .col-md-6 > a.thumb-img{
    display: inline-block;

}
.tab-pane .row .col-md-6 > a.thumb-img img{
    width: 260px;
    height: 165px;
}
.tab-pane .row .col-md-6 > a.thumb-article{
    max-width: 295px;
    padding-top: 10px;
    padding-left: 15px;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}
.tab-pane .row .col-md-6 > a.thumb-article h4{
    color:#2f333e;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.tab-pane .row .col-md-6 > a.thumb-article span{
    color:#999999;
    font-size: 14px;
}
.tab-pane .row .col-md-6 > a.thumb-article p{
    color:#666666;
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
    width: inherit;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.tab-content .row > div{
    margin-bottom: 45px;
    height: 165px;
}
@media screen and (max-width: 1200px){
    .tabs-title > ul li a {
        font-size: 18px;
        padding: 10px 12px;
    }
    .tab-pane .row .col-md-6 > a.thumb-img img {
        width: 230px;
        height: 150px;
    }
    .tab-pane .row .col-md-6 > a.thumb-article {
        max-width: 225px;
        padding-top: 5px;
        padding-left: 10px;
    }
    .tab-pane .row .col-md-6 > a.thumb-article h4{
        font-size: 13px;
        margin-bottom: 0;
    }
    .tab-pane .row .col-md-6 > a.thumb-article span{
        font-size: 13px;
    }
    .tab-pane .row .col-md-6 > a.thumb-article p{
        font-size: 13px;
        line-height: 18px;
        margin-top: 0;
    }
}
@media screen and (max-width: 992px){
    /*.tab-content .tab-pane .row > div{*/
        /*text-align: center;*/
    /*}*/
}
@media screen and (max-width: 767px){
    #compare_tabs .row ul.nav {
        padding-left: 0;
    }
    .nav-tabs > li {
        float: none;
    }
    .tabs-title > ul li:nth-of-type(1) a {
        border-bottom: 2px solid #d9d9d9!important;
        border-right: none!important;
    }
    .tab-content {
        padding-top: 25px;
    }
    .tab-pane .row .col-md-6 > a {
        float: none;
        display: block;
    }
    .tab-pane .row .col-md-6 > a.thumb-img img {
        width: 230px;
        height: 150px;
    }
    .tab-pane .row .col-md-6 > a.thumb-article {
        max-width: inherit!important;
        padding-top: 5px;
        padding-left: 0;
    }
    .tabs-title > ul li:nth-of-type(2):before {
        content: '';
        float: left;
        color: #d9d9d9;
        line-height: 45px;
        display: inline-block;
        font-size: 20px;
    }
    .tab-content .row > div {

        height: auto;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    #compare_tabs {
        padding-bottom: 5px;
    }
}
